<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>iACADEMY Admin</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="../public/css/admin_homepage.css">
</head>

<body>

<div id="content">

		<a class="ui button icon labled" href="/" id="facultyListButton">
			<i class="icon user circle"></i> See Full Faculty List
		</a>


		<form action="/" method="POST" class="ui form" id="details">
			<div class="ui top attached label" id="topAttachedButton">Admin | Create-A-Class</div>
			<div class="courseDetails">
				<div class="fields">
					<div class="three wide field">
						<label for="">Course Code</label>
						<input type="text" name="" placeholder="Course Code">
					</div>
					<div class="eleven wide field">
						<label for="">Course Name</label>
						<input type="text" name="" placeholder="Enter Course Name">
					</div>
					<div class="two wide field">
						<label for="">Units</label>
						<input type="text" name="" placeholder="Units">
					</div>
				</div>

				<div class="fields">
					<div class="six wide field">
						<label for="">Section</label>
						<input type="text" name="" placeholder="Enter Section">
					</div>
					<div class="fields">
						<div class="field">
							<label>Day</label>
							<input type="text" placeholder="Enter Day">
						</div>
						<div class="field">
							<label for="">Time</label>
							<input type="text" placeholder="Enter Time">
						</div>
						<div class="field">
							<label for="">Room</label>
							<input type="text" placeholder="Enter Room">
						</div>
					</div>
				</div>
			</div>

			<div class="ui dividing header">Faculty</div>
			<!-- ========================================================================================= -->
			<div class="professorDetails">
				<div class="fields">
					<div class="ui fluid selection dropdown">
						<input type="hidden" name="user">
						<i class="dropdown icon"></i>
						<div class="default text">Select Faculty</div>
						<div class="menu">
							<!-- loop -->
							<div class="item" data-value="Faculty Name value"> *Faculty Name* </div>
							<!-- loop -->
						</div>
					</div>
				</div>
			</div>

			<div class="ui two bottom attached buttons">
				<button type="submit" class="ui button primary">Create</button>
				<button type="reset" class="ui button">Clear</button>
			</div>
		</form>



		<form action="/add_faculty" method="POST" class="ui form" id="details">
			<div class="ui top attached label" id="topAttachedButton">Admin | Add Faculty Member</div>
			<div class="courseDetails">
				<div class="fields">
					<div class="eight wide field">
						<label for="">First Name</label>
						<input type="text" name="" placeholder="Enter Faculty First Name">
					</div>
					<div class="eight wide field">
						<label for="">Last Name</label>
						<input type="text" name="" placeholder="Enter Faculty Last Name">
					</div>
				</div>
			</div>

			<div class="ui two bottom attached buttons">
				<button type="submit" class="ui button primary">Add Faculty Member</button>
				<button type="reset" class="ui button">Clear</button>
			</div>
		</form>





		<div class="resultsContainer">

			<!-- CLASSCARD EJS -->
			<div class="result">
				<div class="ui card">

					<div class="content">
						<div class="header" id="courseHeader">
							Course Code
							<p class="cardSection">SECTION</p>
						</div>

						<div class="description">
							<p>course name</p>
						</div>
					</div>

					<div class="ui styled fluid accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							Show Details
						</div>
						<div class="content">
							<p class="transition hidden">Units:
								<strong>#units</strong>
							</p>
							<p class="transition hidden">Day:
								<strong>#day</strong>
							</p>
							<p class="transition hidden">Time:
								<strong>#time</strong>
							</p>
							<p class="transition hidden">Room:
								<strong>#room</strong>
							</p>
							<p class="transition hidden">Faculty:
								<strong>#faculty</strong>
							</p>
						</div>

					</div>
				</div>
			</div>
			<!-- CLASSCARD EJS -->

		</div>




	</div>
	<!-- id="content" -->



<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>

$('.ui.accordion')
	.accordion()
	;

$('.ui.dropdown')
	.dropdown()
;	


</script>




</body>

</html>