<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>Faculty List</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="../public/css/faculty_list.css">
</head>

<body>

<div id="content">

	<a href="/" class="ui button icon labled compact" id="backButton">
		<i class="icon angle left"></i>Go Back
	</a>

	<h1 class="ui header" id="pageHeader">
		Faculty List
	</h1>

	<div class="resultContainer">
		<div class="result">
			<div class="ui card">
					<div class="content">
						<p class="header">Firstname Lastname</p>
						<div class="description">
							<a href="">Go to profile</a>
						</div>
					</div>
			
					<div class="ui styled fluid accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							Faculty Evaluation
						</div>
						<div class="content">
							<p class="transition hidden">Units: <strong>#units</strong></p>
							<p class="transition hidden">Section: <strong>#section</strong></p>
							<p class="transition hidden">Day: <strong>#day</strong></p>
							<p class="transition hidden">Time: <strong>#time</strong></p>
							<p class="transition hidden">Room: <strong>#room</strong></p>
							<p class="transition hidden">Faculty: <strong>#faculty</strong></p>
						</div>
						
				</div>
			</div>
		</div>
		<div class="result">
			<div class="ui card">
					<div class="content">
						<p class="header">Firstname Lastname</p>
						<div class="description">
							<a href="">Go to profile</a>
						</div>
					</div>
			
					<div class="ui styled fluid accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							Faculty Information
						</div>
						<div class="content">
							<p class="transition hidden">Units: <strong>#units</strong></p>
							<p class="transition hidden">Section: <strong>#section</strong></p>
							<p class="transition hidden">Day: <strong>#day</strong></p>
							<p class="transition hidden">Time: <strong>#time</strong></p>
							<p class="transition hidden">Room: <strong>#room</strong></p>
							<p class="transition hidden">Faculty: <strong>#faculty</strong></p>
						</div>
						
				</div>
			</div>
		</div>
	</div>
</div> <!-- id="content" -->



<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>
$('.ui.accordion')
  .accordion()
;



</script>




</body>
</html>