<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="images/favicon.ico" />
   <title>Evaluation Form</title>

   <!-- semantic-ui styles -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
   <!-- main css -->
   <link rel="stylesheet" href="../public/css/form.css">
</head>

<body>




<div class="content">
    <div class="ui form" id="details">
        <div class="ui top attached label">Class Description</div>
        <div class="courseDetails">
            <div class="fields">
                <div class="three wide field">
                    <label for="">Course Code</label>
                    <input type="text" readonly="readonly" name="" id="" value="<%= cls.course.code %>">
                </div>
                <div class="eleven wide field">
                    <label for="">Course Name</label>
                    <input type="text" readonly="readonly" name="" id="" value="<%= cls.course.name %>">
                </div>
                <div class="two wide field">
                    <label for="">Units</label>
                    <input type="text" readonly="readonly" name="" id="" value="<%= cls.course.units %>">
                </div>
            </div>
            
            <div class="fields">
                <div class="six wide field">
                    <label for="">Section</label>
                    <input type="text" readonly="readonly" name="" id="" value="<%= cls.course.section %>">
                </div>
                <div class="fields">
                    <div class="field">
                        <label>Day</label>
                        <input type="text" placeholder="" value="<%= cls.schedule.day %>">
                    </div>
                    <div class="field">
                        <label for="">Time</label>
                        <input type="text" placeholder="" value="<%= cls.schedule.time %>">
                    </div>
                    <div class="field">
                        <label for="">Room</label>
                        <input type="text" placeholder="" value="<%= cls.schedule.room %>">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui dividing header">Faculty:</div> <!-- ========================================================================================= -->
        <div class="professorDetails"> 
            <h1 class="head">
                <a href=""><%= cls.professor.firstName %> <%= cls.professor.lastName %></a>
            </h1>
        </div>
    </div>



<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <form action="/submit_evaluation/<%=cls.professor._id%>" method="POST" class="ui form evalutation_form">
        <div class="ui top attached label">
            Faculty Evaluation Form
        </div>

        <div class="ui dividing header">Respect</div> <!-- ========================================================================================= -->
        
        <!-- Question 1 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-1" onclick="notApplicable('na-1','slider-1', 'value-1')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">1. Shows respect for the student</label>
                <div class="slidecontainer">
                    <input name="q1" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-1" onchange="showSliderValue('slider-1', 'value-1')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-1" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Approachability</div> <!-- ========================================================================================= -->
        
        <!-- Question 25 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-25" onclick="notApplicable('na-25','slider-25', 'value-25')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">2. Creates a warm and non-threatening atmosphere in class</label>
                <div class="slidecontainer">
                    <input name="q2" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-25" onchange="showSliderValue('slider-25', 'value-25')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-25" class="output">3</p>
            </div>
        </div>

        <!-- Question 26 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-26" onclick="notApplicable('na-26','slider-26', 'value-26')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">3. Allows students to clarify topics and to ask questions</label>
                <div class="slidecontainer">
                    <input name="q3" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-26" onchange="showSliderValue('slider-26', 'value-26')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-26" class="output">3</p>
            </div>
        </div>

        <!-- Question 27 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-27" onclick="notApplicable('na-27','slider-27', 'value-27')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">4. Has positive rapport with students</label>
                <div class="slidecontainer">
                    <input name="q4" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-27" onchange="showSliderValue('slider-27', 'value-27')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-27" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Encouragement/Motivation</div> <!-- ======================================================================= -->

        <!-- Question 2 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-2" onclick="notApplicable('na-2','slider-2', 'value-2')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">5. Encourages students to express their ideas</label>
                <div class="slidecontainer">
                    <input name="q5" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-2" onchange="showSliderValue('slider-2', 'value-2')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-2" class="output">3</p>
            </div>
        </div>

        <!-- Question 3 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-3" onclick="notApplicable('na-3','slider-3', 'value-3')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">6. Motivates students to continue learning even outside the classroom</label>
                <div class="slidecontainer">
                    <input name="q6" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-3" onchange="showSliderValue('slider-3', 'value-3')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-3" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Fairness & Transparency</div> <!-- ======================================================================= -->

        <!-- Question 5 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-5" onclick="notApplicable('na-5','slider-5', 'value-5')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">7. Give everyone a chance to participate in class activites.</label>
                <div class="slidecontainer">
                    <input name="q7" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-5" onchange="showSliderValue('slider-5', 'value-5')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-5" class="output">3</p>
            </div>
        </div>

        <!-- Question 6 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-6" onclick="notApplicable('na-6','slider-6', 'value-6')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">8. Tells students how their perfomance is evaluated and gives feedback.</label>
                <div class="slidecontainer">
                    <input name="q8" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-6" onchange="showSliderValue('slider-6', 'value-6')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-6" class="output">3</p>
            </div>
        </div>
        
        <div class="ui dividing header">Teaching Skills</div> <!-- ======================================================================= -->
        
        <!-- Question 8 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-8" onclick="notApplicable('na-8','slider-8', 'value-8')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">9. Uses varied teachniques and activites to enhance learning.</label>
                <div class="slidecontainer">
                    <input name="q9" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-8" onchange="showSliderValue('slider-8', 'value-8')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-8" class="output">3</p>
            </div>
        </div>
        
        <!-- Question 9 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-9" onclick="notApplicable('na-9','slider-9', 'value-9')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">10. Paraphrases concepts or uses examples to help students understand the lesson.</label>
                <div class="slidecontainer">
                    <input name="q10" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-9" onchange="showSliderValue('slider-9', 'value-9')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-9" class="output">3</p>
            </div>
        </div>
        
        <div class="ui dividing header">Lesson Presenation</div> <!-- ======================================================================= -->

        <!-- Question 10 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-10" onclick="notApplicable('na-10','slider-10', 'value-10')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">11. Presents the lessons in a clear and organized manner</label>
                <div class="slidecontainer">
                    <input name="q11" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-10" onchange="showSliderValue('slider-10', 'value-10')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-10" class="output">3</p>
            </div>
        </div>

        <!-- Question 11 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-11" onclick="notApplicable('na-11','slider-11', 'value-11')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">12. Makes sure the activities and exercises match the lesson's objectives</label>
                <div class="slidecontainer">
                    <input name="q12" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-11" onchange="showSliderValue('slider-11', 'value-11')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-11" class="output">3</p>
            </div>
        </div>

        <!-- Question 12 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-12" onclick="notApplicable('na-12','slider-12', 'value-12')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">13. Uses instructional materials effectively</label>
                <div class="slidecontainer">
                    <input name="q13" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-12" onchange="showSliderValue('slider-12', 'value-12')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-12" class="output">3</p>
            </div>
        </div>
        
        <div class="ui dividing header">Mastery</div> <!-- ======================================================================= -->

         <!-- Question 13 -->
         <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-13" onclick="notApplicable('na-13','slider-13', 'value-13')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">14. Knows the subject matter very well and explains it with depth</label>
                <div class="slidecontainer">
                    <input name="q14" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-13" onchange="showSliderValue('slider-13', 'value-13')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-13" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Updated</div> <!-- ======================================================================= -->        

         <!-- Question 14 -->
         <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-14" onclick="notApplicable('na-14','slider-14', 'value-14')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">15. Shows he/she is updated on the latest developments in the field</label>
                <div class="slidecontainer">
                    <input name="q15" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-14" onchange="showSliderValue('slider-14', 'value-14')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-14" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Confidfence</div> <!-- ======================================================================= -->        

        <!-- Question 15 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-15" onclick="notApplicable('na-15','slider-15', 'value-15')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">16. Appears comfortable in handling the class</label>
                <div class="slidecontainer">
                    <input name="q16" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-15" onchange="showSliderValue('slider-15', 'value-15')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-15" class="output">3</p>
            </div>
        </div>
        
        <div class="ui dividing header">Communication</div> <!-- ======================================================================= -->

        <!-- Question 16 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-16" onclick="notApplicable('na-16','slider-16', 'value-16')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">17. Expresses his/her ideas clearly</label>
                <div class="slidecontainer">
                    <input name="q17" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-16" onchange="showSliderValue('slider-16', 'value-16')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-16" class="output">3</p>
            </div>
        </div>

        <!-- Question 17 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-17" onclick="notApplicable('na-17','slider-17', 'value-17')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">18. Uses correct grammar and has command of the language of instruction and has clear pronunciation and diction</label>
                <div class="slidecontainer">
                    <input name="q18" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-17" onchange="showSliderValue('slider-17', 'value-17')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-17" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Punctuality</div> <!-- ======================================================================= -->

        <!-- Question 19 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-19" onclick="notApplicable('na-19','slider-19', 'value-19')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">19. Diligently attends all class sessions on time and as scheduled</label>
                <div class="slidecontainer">
                    <input name="q19" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-19" onchange="showSliderValue('slider-19', 'value-19')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-19" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Time Management</div> <!-- ======================================================================= -->

        <!-- Question 20 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-20" onclick="notApplicable('na-20','slider-20', 'value-20')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">20. Starts and ends the class on time</label>
                <div class="slidecontainer">
                    <input name="q20" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-20" onchange="showSliderValue('slider-20', 'value-20')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-20" class="output">3</p>
            </div>
        </div>

        <!-- Question 21 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-21" onclick="notApplicable('na-21','slider-21', 'value-21')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">21. Sequences lessions in such a way that the use of time is maximized</label>
                <div class="slidecontainer">
                    <input name="q21" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-21" onchange="showSliderValue('slider-21', 'value-21')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-21" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Consitency</div> <!-- ======================================================================= -->

        <!-- Question 22 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-22" onclick="notApplicable('na-22','slider-22', 'value-22')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">22. Shows consistency in word and deed</label>
                <div class="slidecontainer">
                    <input name="q22" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-22" onchange="showSliderValue('slider-22', 'value-22')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-22" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Classroom Management</div> <!-- ======================================================================= -->

        <!-- Question 23 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-23" onclick="notApplicable('na-23','slider-23', 'value-23')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">23. Is able to command respect and discipline the class when necessary.</label>
                <div class="slidecontainer">
                    <input name="q23" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-23" onchange="showSliderValue('slider-23', 'value-23')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-23" class="output">3</p>
            </div>
        </div>

        <div class="ui dividing header">Asset</div> <!-- ======================================================================= -->
        
        <!-- Question 24 -->
        <div class="fields">
            <div class="field">
                <div class="ui button default compact nabutton" id="na-24" onclick="notApplicable('na-24','slider-24', 'value-24')">
                    NA
                </div>
            </div>
            <div class="thirteen wide field">
                <label for="">24. He/She an asset to iACADEMY</label>
                <div class="slidecontainer">
                    <input name="q24" type="range" min="1" max="5" step="1" value="3" class="slider" id="slider-24" onchange="showSliderValue('slider-24', 'value-24')">
                </div>
            </div>
            <div class="two wide field">
                <p id="value-24" class="output">3</p>
            </div>
        </div>
        
        <div class="ui divider"></div> <!-- ================================================================================================================= -->

        <div class="ui bottom attached segment">
            <Button type="submit" value="" class="ui button teal fluid"><i class="icon check"></i>Submit</Button>
        </div>
    </form>
</div><!-- id="content" -->























<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>



<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>
// SEMANTIC-UI dropdown function
$('.ui.dropdown')
	.dropdown()
;

$('.ui.accordion')
  .accordion()
;

$('.ui.modal')
  .modal('attach events','.editTrigger','show')
;

function showSliderValue(sliderId, outputId) {
    var output = document.getElementById(outputId);
    var slider = document.getElementById(sliderId);

    output.innerHTML = slider.value;

   if(slider.value == 1) {
        output.style.backgroundColor = "#FF4646";
    } else if (slider.value == 2) {
        output.style.backgroundColor = "#FFB950";
    } else if (slider.value == 3) {
        output.style.backgroundColor = "#FFE854";
    } else if (slider.value == 4) {
        output.style.backgroundColor = "#ABFF4B";
    } else if (slider.value == 5) {
        output.style.backgroundColor = "#6AFC87";
    }
}

function notApplicable(buttonId, sliderId, outputId) {
    var output = document.getElementById(outputId);
    var button = document.getElementById(buttonId);
    var slider = document.getElementById(sliderId);

    button.classList.toggle('red');

    if(slider.hasAttribute('disabled')) {
        slider.removeAttribute('disabled');
        output.innerHTML = slider.value;
        
        if(slider.value == 1) {
            output.style.backgroundColor = "#FF4646";
        } else if (slider.value == 2) {
            output.style.backgroundColor = "#FFB950";
        } else if (slider.value == 3) {
            output.style.backgroundColor = "#FFE854";
        } else if (slider.value == 4) {
            output.style.backgroundColor = "#ABFF4B";
        } else if (slider.value == 5) {
            output.style.backgroundColor = "#6AFC87";
        }
    } else {
        output.innerHTML = "";
        slider.setAttribute('disabled', 'disabled');
        output.style.backgroundColor = "transparent";
    }
}

</script>
</body>

</html>