<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>iACADEMY | Student</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="../public/css/student_homepage.css">
</head>

<body>

<!-- INSERT NAVBAR COMPONENT HERE -->

<div id="content">
		<!-- STUDENT CARD -->
		<div class="ui card" id="studentCard">
			<div class="content" id="classCardContent">
				<div class="header" id="courseHeader">
					Nathaniel Saludes
				</div>
				
				<div class="description">
					<p>201502034</p>
				</div>
			</div>
		</div>
		

		
<h1 class="header" id="cardsContainerHeader">
	Faculty Evaluation List
</h1>
<div class="cardsContainer">

	<!-- EVALUATE CARD -->
	<div class="classInstance">
		<div class="ui card" id="classCard">
			<div class="content">
				<div class="header" id="courseHeader">
					Course Code
					<p class="cardSection">SECTION</p>
				</div>
				
				<div class="description">
					<p>course name</p>
				</div>
			</div>
			
			<a href="/" class="ui button bottom attached teal">
				Evaluate
			</a>
		</div>
	</div>
	<!-- EVALUATE CARD -->
	

</div>








</div> <!-- id="content" -->



<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>
$('.ui.accordion')
  .accordion()
;



</script>




</body>
</html>