@import '../fonts/gotham-rounded.css';

@import url('../components/fonts/gotham-rounded.css');

* {
   margin: 0px;
   padding: 0px;
}

body {
    height: auto;
    background:-webkit-linear-gradient(top left, #365cae,rgb(66, 49, 130));
    background-attachment: fixed;
    background-repeat: repeat;
    display: grid;
    justify-items: center;
    align-items: center;
    height: auto;
}

.wrapper {
    width: 100%;
    height: auto;
}

#navBarContainer {
   /* background-color: #6DC4FF; */
   width: 100%;
   position: fixed;
   z-index: 3;
   box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

#navbar {
   background-Color: #222641;
   border-radius: 0px;
   font-family: "Gotham Rounded", sans-serif;
}

#brandLogo {
   width: 2em;
   /* background-color: #6C4ED5; */
   margin-bottom: 2px;
}

#searchButton {
   background-color: #6C4ED5;
   color: white;
   cursor: pointer;
}

#avatarContainer {
    height: 2.3em;
    width: 2.3em;
    border-radius: 100em;
    margin-left: 10px;
    background-color: #6C4ED5;
}

#Logo {
    font-family: "Quantify", sans-serif;
}

.facultyEvaluationLogo {
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.46);
}

#iACADEMYLogoText {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
}

#redirectLink {
    font-weight: bolder;
    font-family: "Gotham Rounded", sans-serif;
}