<!-- NAVIGATION BAR COMPONENT -->
<div id="navBarContainer">
	<div class="ui menu inverted" id="navbar">
		<div class="item" id="Logo">
			<p id="iACADEMYLogoText">iACADEMY</p>
			<span class="facultyEvaluationLogo">Faculty Evaluation</span>
		</div>
		<a href="/timeline" class="item" id="redirectLink">HOME</a>

		<!-- Search Suggestions -->
		<div class="ui dropdown item right" tabindex="0">
			<span id="userName">
				<strong>
					<%=user.username%>
				</strong>
			</span>
			<div class="menu">
				<a href="/auth/logout" class="item">Logout</a>
			</div>
		</div>
	</div>
</div>