<div class="result">
        <div class="ui card">
            <div class="content">
                <a class="header">Lastname Firstname</a>
            </div>
    
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Faculty Evaluation
                </div>
                <div class="content">
                    <table class="ui single line table">
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Average Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Approachability</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Respect</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Encouragement</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Fairness</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Teaching</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Presentation</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Mastery</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Updated</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Consistency</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Confidence</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Communication</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Punctuality</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Time Management</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Class Management</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Asset</td>
                                <td>#</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>