<div class="result">
    <div class="ui card">

        <div class="content">
            <div class="header">Course Code</div>
            <div class="description">
                <p>course name</p>
            </div>
        </div>

        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Show Details
            </div>
            <div class="content">
                <p class="transition hidden">Units: <strong>#units</strong></p>
                <p class="transition hidden">Section: <strong>#section</strong></p>
                <p class="transition hidden">Day: <strong>#day</strong></p>
                <p class="transition hidden">Time: <strong>#time</strong></p>
                <p class="transition hidden">Room: <strong>#room</strong></p>
                <p class="transition hidden">Faculty: <strong>#faculty</strong></p>
            </div>
            
        </div>
    </div>
</div>